<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="np">Nome da praça</label>
            <input id="np" class="form-control" tabindex="1"
                data-ng-model="plaza.nomeplaza" data-ng-readonly="!cuidador"
                placeholder="Dê um nome para esta praça"/>
        </div>
    </div>
    <div class="col-xs-6">
        <leaflet center="plaza" markers="markers" defaults="defaults"
            width="100%" height="300px"></leaflet>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label for="dp">Descrição da praça</label>
            <textarea id="dp" class="form-control" tabindex="2" rows="13"
                data-ng-model="plaza.descricaoplaza" data-ng-readonly="!cuidador"
                placeholder="Fale um pouco da história desta praça"></textarea>
        </div>
    </div>
    <div class="col-xs-12">
        <a class="btn btn-success" data-ng-show="plaza.idplaza"
            data-ng-href="#/listact/{{plaza.idplaza}}">Ver ações</a>
        <a class="btn btn-success" data-ng-show="plaza.idplaza"
            data-ng-href="#/listacuidadorpraca/{{plaza.idplaza}}">Ver cuidadores</a>
    </div>
    <div class="col-xs-12 text-right">
        <button class="btn btn-primary" tabindex="3" data-ng-show="cuidador"
            data-ng-click="salvar()">Salvar</button>
    </div>
</div>
