<div class="row">
    <div class="panel panel-info">
        <div class="panel-heading">
            <div class="row">
                <div class="col-xs-5">
                    Lista de ações/eventos
                </div>
                <div class="col-xs-7 text-right">
                    <a class="btn btn-success" data-ng-show="cuidador"
                        data-ng-href="#/detalheacao">Nova ação/evento</a>
                </div>
            </div>
        </div>
        <div class="panel-body">
            <div class="row" data-ng-repeat="ev in eventos">
                <div class="col-xs-6">
                    <label>{{ev.tituloevento}}</label>
                </div>
                <div class="col-xs-6 text-right">
                    <a class="btn btn-warning" data-ng-href="#/detalheacao/{{ev.idevento}}">
                        <i class="fa fa-edit" data-ng-show="cuidador"></i>
                        <i class="fa fa-eye" data-ng-show="!cuidador"></i>
                    </a>
                    <a class="btn btn-danger" data-ng-show="cuidador">
                        <i class="fa fa-trash"></i>
                    </a>
                </div>
                <div class="col-xs-12">
                    <hr/>
                </div>
            </div>
        </div>
    </div>
</div>
