doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/lib/bootstrap/dist/css/bootstrap-theme.min.css')
    
    script(type="text/javascript", src="/lib/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/lib/bootstrap/dist/js/bootstrap.min.js")
    
    script(type="text/javascript", src="/app/principal.js")
  body
    div.container
        div.row
            div.col-xs-12.col-sm-6
                h1 Adote uma praça
            div.hidden-xs.col-sm-6
                div.panel.panel-info
                    div.panel-heading Ações
                    div.panel-body XXX
        div.row
            div.col-xs-12.col-sm-3.col-lg-2
                div.panel.panel-info
                    div.panel-heading Usuário
                    div.panel-body XXX
                div.panel.panel-info
                    div.panel-heading Ações
                    div.panel-body XXX
            div.col-xs-12.col-sm-9.col-lg-10
                div.panel.panel-info
                    div.panel-heading 
                        block title
                    div.panel-body
                        block content