doctype html
html
  head
    title= title
    
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/bootstrap/dist/css/bootstrap-theme.min.css')
    
    script(type="text/javascript", src="/jquery/dist/jquery.min.js")
    script(type="text/javascript", src="/bootstrap/dist/js/bootstrap.min.js")
  body
    div.container
        div.row
            div.col-xs-12
         
        div.row
            div.col-xs-12.col-sm-3.col-       
            block content