<div class="row">
    <div class="col-xs-12">
        <div class="form-group">
            <label for="np">Nome da praça</label>
            <input id="np" class="form-control" data-ng-model="plaza.nomeplaza"/>
        </div>
    </div>
    <div class="col-xs-6">
        <leaflet center="plaza" markers="markers" width="100%" height="300px"></leaflet>
    </div>
    <div class="col-xs-6">
        <div class="form-group">
            <label for="dp">Descrição da praça</label>
            <textarea id="dp" rows="13" class="form-control"></textarea>
        </div>
    </div>
    <div class="col-xs-12">
        <button class="btn btn-success" data-ng-click="veracoes()">Ver ações</button>
        <button class="btn btn-success" data-ng-click="vercuidadores()">Ver cuidadores</button>
    </div>
    <div class="col-xs-12 text-right">
        <button class="btn btn-primary" data-ng-click="savar()">Salvar</button>
    </div>
</div>
