<div class="row">
    <div class="col-xs-6 col-sm-6 col-md-3">
        <button class="btn btn-success btn-block" data-ng-click="vepraca()">Ver Praças</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
        <button class="btn btn-success btn-block" data-ng-click="veracao()">Ver Ações</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
        <button class="btn btn-success btn-block" data-ng-click="adicionapraca()">Adicionar Praça</button>
    </div>
    <div class="col-xs-6 col-sm-6 col-md-3">
        <button class="btn btn-success btn-block" data-ng-click="agendacao()">Agendar Ação</button>
    </div>
</div>
<div class="row">
    <div class="col-xs-12">
        <leaflet center="orig" markers="markers" width="100%" height="600px"></leaflet>
    </div>
</div>
